################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csharpSamples/FileContentIndex/0523af6d-4495-4776-80c8-9e15f27c853d.vsidx
/.vs/csharpSamples/FileContentIndex/1077314d-d111-44c9-b7fc-7863322ebbfb.vsidx
/.vs/csharpSamples/FileContentIndex/9bf4176b-72c1-464b-847a-b230bdf42975.vsidx
/.vs/csharpSamples/FileContentIndex/36f65951-bd54-4fc8-858a-3f1d53f7c8bc.vsidx
/.vs/csharpSamples/FileContentIndex/0e62309a-78eb-4106-b764-f07061f65f24.vsidx
