################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csharpSamples/FileContentIndex/0523af6d-4495-4776-80c8-9e15f27c853d.vsidx
